<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Biblioteca GENERIC DAO - Realizar procedimentos de build e criacao de artefatos &#xd;
binarios e biblioteca nuget</description>
  <displayName>SSE_BUILD_LIB_GENERICDAO</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://seducsp.visualstudio.com/DefaultCollection/_git/PortalNet</url>
        <credentialsId>2e2ffa8d-9490-408c-8317-f126383bd758</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>source</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>c:\sse\work\jks\hom\rootdlls</customWorkspace>
  <builders>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\tools\msbuild\BuildArtTypeLib.proj</msBuildFile>
      <cmdLineArgs>/t:PrepAmbiente /p:Sistema=genericdao /p:Ambiente=homologacao /p:NameSln=genericdao</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\work\jks\hom\rootdlls\source\genericdao\genericdao.sln</msBuildFile>
      <cmdLineArgs>/p:Configuration=Release /p:Platform=x64</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\tools\msbuild\BuildArtTypeLib.proj</msBuildFile>
      <cmdLineArgs>/t:CopyBins,DeletePdb,ZipBuild,PackNuget,CopytoDeploy /p:Sistema=genericdao /p:Ambiente=homologacao  /p:ZipName=genericdao</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>