<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>SSE_HOM_ATESTADOMEDICO</description>
  <displayName>SSE_HOM_ATESTADOMEDICO</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.5">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@2.4.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://seducsp.visualstudio.com/DefaultCollection/_git/AtestadoMedico</url>
            <credentialsId>2e2ffa8d-9490-408c-8317-f126383bd758</credentialsId>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>source/atestadomedico</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@2.4.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://seducsp.visualstudio.com/DefaultCollection/AtestadoMedico/_git/AtestadoMedico.Pages</url>
            <credentialsId>2e2ffa8d-9490-408c-8317-f126383bd758</credentialsId>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>source/atestadomedico.pages</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>C:\sse\work\jks\hom\atestadomedico</customWorkspace>
  <builders>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\tools\msbuild\PrepAmbiente.proj</msBuildFile>
      <cmdLineArgs>/t:PrepAmbiente  /p:Sistema=atestadomedico /p:Ambiente=homologacao /p:DirSln=atestadomedico.pages</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\work\jks\hom\atestadomedico\source\atestadomedico.pages\atestadomedico.pages.sln</msBuildFile>
      <cmdLineArgs>/p:Configuration=Release /p:DeployOnBuild=true /p:PublishProfile=homologacao</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\tools\msbuild\ZiparPortalNETApp.proj</msBuildFile>
      <cmdLineArgs>/t:Webdeploy  /p:Sistema=atestadomedico /p:Ambiente=homologacao  /p:ZipName=atestadomedico</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>