<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Criar pacote para GMUD de Homologacao Sistema PortalNET  no servidor - 10.200.240.19 - D:\GMUD Emergencial - (portalnetpreproducao)</description>
  <displayName>SSE_PACKGMUDHOM_PORTALNET</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>SISTEMA</name>
          <description>Módulo Solicitante. Observar que necessita de procedimento de GMUD para que o pacote possa efetivamente subir para producao</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>alocacaopei</string>
              <string>alteracaoeventos</string>
              <string>alteracaojornada</string>
              <string>atestadomedico</string>
              <string>atribaula</string>
              <string>aulassematribuicao</string>
              <string>avaliacao</string>
              <string>bienio</string>
              <string>boletimfrequencia</string>
              <string>boletimsaresp</string>
              <string>bonush</string>
              <string>censoescolar</string>
              <string>certificacao</string>
              <string>cesu</string>
              <string>consultadadoscadastrais</string>
              <string>contageh</string>
              <string>diarias</string>
              <string>enquadramentoqae</string>
              <string>envioemail</string>
              <string>escolha</string>
              <string>estagioprobatorio</string>
              <string>estprovisoria</string>
              <string>estruturaorg</string>
              <string>fichafai</string>
              <string>genericdao</string>
              <string>gerenciarsistemas</string>
              <string>gps</string>
              <string>gratificacaofuncao</string>
              <string>gratificacaogap</string>
              <string>gratificacaogdpi</string>
              <string>gratificacaogge</string>
              <string>gratificacaorepresentacao</string>
              <string>guiarecolhimento</string>
              <string>importacao</string>
              <string>indicacaoensinointegral</string>
              <string>infocre</string>
              <string>licenca202</string>
              <string>licencapremio</string>
              <string>meritocracia</string>
              <string>planoacao</string>
              <string>planoacaoensino</string>
              <string>pnae</string>
              <string>probatorioqseqae</string>
              <string>prodesp.dataaccess</string>
              <string>promocao</string>
              <string>promocaoqae</string>
              <string>qualificacao</string>
              <string>questionario</string>
              <string>relatorio</string>
              <string>remocaoqae</string>
              <string>remocaoqm</string>
              <string>reorganizacao</string>
              <string>reposicaoaulas</string>
              <string>roe</string>
              <string>saesp</string>
              <string>sapj</string>
              <string>scpse</string>
              <string>securitygdae</string>
              <string>titulo</string>
              <string>utils</string>
              <string>utilscgrh</string>
              <string>valerefeicao</string>
              <string>valorhorah</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RESUMOMUDANCA</name>
          <description>Informar resumo justificativa da GMUD aos envolvidos</description>
          <defaultValue>Informar resumo justificativa da GMUD aos envolvidos</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>C:\sse\work\jks\compress</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NonInteractive -ExecutionPolicy ByPass -file c:\sse\tools\pshell\RunRemoteShell.ps1 &quot;ZiparPortalNetHom&quot; %BUILD_NUMBER%</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.42">
      <recipientList>$DEFAULT_RECIPIENTS , luiztorato@gmail.com, pportela@sp.gov.br, carlaofernandesedu@gmail.com,alves2k@gmail.com ,vbernardes@sp.gov.br, v.borges.alb@gmail.com, williancsilva@gmail.com,
carlosmelo@sp.gov.br, marcospereira@sp.gov.br</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT
O modulo solicitante do pacote para GMUD ambiente de HOMOLOGACAO foi o: $SISTEMA
Pacote gerado por $BUILD_USER </body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>