<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Projeto de Deploy  para o servidor simulando ambiente Testes- </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Sistema</name>
          <description>Nome do Sistema/Modulo que sera feito o deploy</description>
          <defaultValue>naoinfromado</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TipoApp</name>
          <description>Tipo de aplicacao para ser feito o deploy - webportal (para modulos do portalnet), libportal(para libs do portalnet), servicosweb(ws de integracao azure)</description>
          <defaultValue>webportal</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>C:\sse\work\jks\deploy\dsv\portalnet</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NonInteractive -ExecutionPolicy ByPass -file c:\sse\tools\pshell\DeployAppToServer.ps1 %Sistema% &quot;teste&quot; %WORKSPACE% %BUILD_NUMBER% &quot;D:\teste\portalnet&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>