<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <apikeys>
    <add key="http://localhost/nugetsse/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0GZi8olo40G+fNzvScoungAAAAACAAAAAAADZgAAwAAAABAAAACqlOShyOxhW5a1lZA6KYdCAAAAAASAAACgAAAAEAAAAF6USCc/gReMUqb9RRCkROAoAAAAR/TmAIor7Pfo24ZzcLVS6tL3CvkEQshp8ylsaU3wtzYZZqZWJwnajRQAAACjEdJs8VjNYtPL/flr87+o3Bv2hQ==" />
  </apikeys>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="PORTALNET_INTEGRACAO" value="https://seducsp.pkgs.visualstudio.com/DefaultCollection/_packaging/PORTALNET_INTEGRACAO/nuget/v2" />
  </packageSources>
  <packageSourceCredentials>
    <PORTALNET_INTEGRACAO>
      <add key="Username" value="carlos.melo_desenv" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxyDcQo+dPk2R8XJOO4zhnQAAAAACAAAAAAAQZgAAAAEAACAAAACzzwphrCw+o8kw6tAGtakylZl1B3FgHKamYyKQwxbibgAAAAAOgAAAAAIAACAAAAAj2+ndu4GHQ3kjBLg9lubmUEW19CqjRIp/7UECp3WL+0AAAABoz4HLMq10k1EI5rDtcRxM7wnti3H6OAJEak4OZwEvoI24Z5lY6L1xy27MIMMDMoGYHQQboKevZ4cKxdYyvc4mQAAAAEiuLqEKiu88DXQxYKbjqOTYV9OGI5vNJZzXobRgTVbGxxWk1uDUAM3nuc/0T1htBS0AsrXv4hm9oNv8ApLEiOs=" />
    </PORTALNET_INTEGRACAO>
  </packageSourceCredentials>
</configuration>