<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Controle de Ordens de Serviços - Homologação</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://seducsp.visualstudio.com/DefaultCollection/_git/ControleOS</url>
        <credentialsId>6249afcb-e134-4192-af01-5b31dad4806f</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/producao</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>source/controleos</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>c:\sse\work\jks\hom\controleos</customWorkspace>
  <builders>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\tools\msbuild\PrepAmbiente.proj</msBuildFile>
      <cmdLineArgs>/t:PrepAmbiente  /p:Sistema=controleos /p:Ambiente=homologacao /p:DirSln=controleos</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\work\jks\hom\controleos\source\controleos\ControleOS.sln</msBuildFile>
      <cmdLineArgs>/p:DeployOnBuild=true /p:PublishProfile=homologacao</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.24">
      <msBuildName>MSBUILD2013</msBuildName>
      <msBuildFile>c:\sse\tools\msbuild\ZiparApp.proj</msBuildFile>
      <cmdLineArgs>/t:ZipBuild,WebDeploy /p:Sistema=controleos /p:Ambiente=homologacao  /p:ZipName=controleos
</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>